/* Navigation */
#menu {
    padding-top: 2em;;
}

.b-sidebar {}

.b-sidebar_item {
    text-decoration: none;
    display: block;
    padding: 0.55em 0.35em 0.75em 0.75em;
}

.b-sidebar_item:hover {
    /*background: #dfdfdf;*/
}

.b-sidebar_item__current {
    background: #011E30;
}

.b-sidebar_item.b-sidebar_item__current span,
.b-sidebar_item.b-sidebar_item__current:hover span {
    color: #f7f8bc;
    border-bottom: none;
    cursor: default;
}
.b-sidebar_item span {
    border-bottom: 1px dotted #eba514;
    color: #eba514;
    font-size: 0.75em;
}

.b-sidebar_item:hover span {
    color: #f8e269;
    border-bottom: 1px dotted #f8e269;
}

/* /Navigation */
