Symfony/web/backend/
Symfony/web/catalog/
Symfony/web/bundles/
Symfony/web/css/
Symfony/web/js/
Symfony/app/bootstrap*
Symfony/app/cache/*
Symfony/app/config/parameters.yml
Symfony/app/logs/*
.idea/
