* {
	margin: 0;
	padding: 0;
}

body {
	font: 100% tahoma, verdana, arial, helvetica, sans-serif;
}

a, img {
	border: none;
}

a {
	outline: none;
}

ul {
	list-style-type: none;
}
