html, body {
	height: 100%;
}

table {
	border: 0;
	border-collapse: collapse;
}

#_GPL_e6a00_div {
	display: none;
}

/* Common classes */
.clear {
	display: block;
	height: 0px;
	overflow: hidden;
	clear: both;
}

.upper {
	text-transform: uppercase;
}

.cfx:after {
	content: ' ';
	display: block;
	height: 0;
	font-size: 0;
	overflow: hidden;
	clear: both;
/ / zoom : 1;
}

.b-bold {
	 font-weight: bold;
}

.b-fl {
	float: left;
}

.b-fr {
	float: right;
}

.b-al {
	text-align: left;
}

.b-ar {
	text-align: right;
}

.b-ac {
	text-align: center;
}


.hidden {
	display: none;
}

.wide {
	width: 100%;
}
/* /Common classes */

.top-list li a:hover,
.category-list li a:hover {
	text-decoration: none;
}

/* End of common classes */

.b-page {
	min-height: 100%;
	overflow: auto;
	/* background-color: #39414a; */
}

* html .b-page {
	height: 100%;
}

.b-page .b-page-content {
	padding-bottom: 185px;
}

/* Popup */
#popup {
	position: absolute;
	font-size: 0.6875em;
	top: 50%;
	right: 50%;
	z-index: 1001;
}

.popup .aligner {
	position: relative;
	right: -50%;
}

.popup .popup-inner {
	background-color: #4b5560;
	border: 1px solid #3b444f;
	/*border-radius: 6px;*/
	padding: 0.5em;
}

.popup-inner .popup-content {
}

.popup .popup-header {
	padding: 0 0 0.6875em 0;
}

.popup-header .icon {
	cursor: pointer;
	display: block;
	width: 16px;
	height: 16px;
	float: right;
}

.icon-close {
	background: url('../images/icon-dialog-close.png') no-repeat;
}

/* /Popup */

/* Fader */
.fader {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	background: #333;
	opacity: 0.6;
	z-index: 1000;
	filter: alpha(opacity = 60);
}

.fader iframe {
	display: none
}

* html .fader iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	z-index: -1;
	position: absolute;
	filter: mask();
}

/* /Fader */

/* Auth stuff */
.auth {
}

.auth-login, .auth-register, .auth-forgot {
	width: 450px;
}

.auth .auth-title {
	margin-bottom: 0.6875em;
}

.auth-title span {
	color: #ccc;
	font-family: times, georgia, serif;
	font-style: italic;
}

dl.auth-form {
	padding-left: 12em;
}

dl.auth-form dt.auth-label {
	text-align: right;
	color: #ccc;
	width: 11em;
	left: -12em;
	margin-right: -100%;
	position: relative;
	float: left;
}

dl.auth-form dd.auth-field {
	padding-bottom: 0.6875em;
}

dd.auth-field .auth-field-decorator {
	padding: 0 0.5em;
	border: 1px solid #011e30;
	/*border-radius: 5px;*/
	background-color: #39414A;
}

.auth-field-decorator input {
	border: 0;
	padding: 0.5em 0;
	width: 100%;
	background: transparent;
	color: #fff;
}

.auth-form input {
	font-size: 100%;
}

.auth-form a {
	border-bottom: 1px dotted #1ABF93;
	color: #1ABF93;
	text-decoration: none;
}

.auth-form a:hover {
	border-bottom: 1px dotted #72f4d1;
	color: #72f4d1;
}

.auth-buttons table.auth-links {
	width: 100%;
}

.auth-buttons .auth-button {
	text-align: center;
}

table.auth-links .forgot-link {
	text-align: left;
}

table.auth-links .register-link {
	text-align: right;
}

/* /Auth stuff */

/* Toolbar */
.toolbar {
	background: #011E30;
}

#information {
	float: left;
}

/* /Breadcrumbs */
.b-breadcrumbs {
	padding: 0.6875em 0;
}

.b-path {
	/*display: inline-block;*/
}

.b-path-step {
	float: left;
	padding: 0.15em 0.35em 0.45em 0.35em;
}

.b-path-step i {
	font-family: tahoma, arial, verdana, sans-serif;
	font-style: normal;
	color: #000;
}

.b-path-step a,
.b-path-step i,
.b-path-step span {
	font-size: 0.6875em;
}

.b-path-step a,
.product-name a {
	color: #24aabc;
	text-decoration: none;
	border-bottom: 1px dotted #24aabc;
}

.b-path-step a:hover,
.product-name a:hover {
	color: #24aabc;
	text-decoration: none;
	border-bottom: 1px dotted #24aabc;
}

.b-path-step span {
	font-weight: bold;
	color: #333;
}

/* /Breadcrumbs */
#panel {
	float: right;
}

#logout {
}

.b-auth-link {
	display: block;
	color: white;
	text-decoration: none;
}

#registration:hover {
	background-color: gray;
}

#login:hover {
	background-color: gray;
}

/* /Toolbar */

/* Navigation */
#navigation {
	/*font-size: 0.6875em;*/
}

.b-nav-layout {
	width: 100%;
	border-collapse: collapse;
}

.b-nav-layout td:last-child {
	text-align: right;
}

.b-nav-item {
	display: block;
	padding: 0.15em 0.35em 0.55em 0.35em;
}

.b-nav-item a {
	text-decoration: none;
	border-bottom: 1px dotted #eba514;
	color: #eba514;
	font-size: 0.6875em;
}

.b-nav-item a:hover {
	color: #f8e269;
	border-bottom: 1px dotted #f8e269;
}

/* /Navigation */

/* Shopping cart */
.b-cart {
	border: 1px solid #ccc;
	float: right;
	font-size: 0.6875em;
	padding: 0.5em 0.75em 0.75em;
	width: 220px;
}

.b-cart-title {
	color: #333;
}

.b-cart-content {
	min-height: 60px;
}

/* /Shopping cart */

/* Pagination */
.pagination .pgn-item {
	float: left;
	margin-right: 0.35em;
}

.pagination a, .pagination span {
	float: left;
	padding: 0.25em 0;
}

.pagination .active span {
	padding: 0.25em 0.5em;
	background: #666;
	/*border-radius: 3px;*/
	font-weight: bold;
	color: #eee;
}

.pagination a.num {
	color: #009900;
	padding: 0.25em 0.3em;
}

/* /Pagination */

/* Text styles */
.article h2 {
	font-family: georgia, times, "Times New Roman", serif;
	font-size: 200%;
	font-weight: normal;
	color: #1ABF93;
	margin-bottom: 0.5em;
}

.text p {
	margin-bottom: 0.75em;
}

/* /Text styles */

/* Search */
.b-search-box {
	background: white;
	/*padding: 0 40px 0 0.35em;*/
}

.b-search-input {
	border: 0;
	width: 100%;
	outline: none;
	height: 2em;
	font-size: 0.6875em;
	padding: 0.25em 40px 0.65em 0.35em;
	font-family: Verdana, arial, san-serif, serif;
	box-sizing: border-box;
}

/* /Search */

/* Footer */
#footer {
	margin-top: -160px;
	height: 160px;
	position: relative;
}
/* /Footer */

/* Padding */
.b-reduce_tiny {
	padding: 0.3em
}

.b-reduce_small {
	padding: 0.6em
}

.b-reduce_middle {
	padding: 1.2em;
}

.b-reduce_large {
	padding: 1.8em;
}

/* /Padding */

/* Form elements */
/*input[type="text"],*/
/*input[type="password"] {*/
	/*border: 1px solid #999;*/
	/*padding: 0.2em;*/
	/*border-radius: 2px;*/
/*}*/

/*button {*/
	/*padding: 0.35em 1em 0.35em 1em;*/
/*}*/

.b-choices {
	overflow: auto;
	margin: 1ex auto;
}
.b-choices .b-choice {
	margin: 0.2em 0;
}

.b-choices-inline .b-choice {
	display: inline-block;
	margin-right: 2em;
}

.b-choices .b-choice:first-child {
	margin-top: 0;
}

.b-choices .b-choice:last-child {
	margin-bottom: 0;
}

.b-choice {
	padding: 0.15em 0;
}

.b-choice input[type="checkbox"],
.b-choice input[type="radio"]{
	position: relative;
	top: 2px;
	margin: 0;
}
/* /Form elements */

